/* ========================================
// EWW SCSS
// ======================================== */

/* Import pywal colors */
@import "colors.scss";
@import "system-monitor.scss";
@import "calendar.scss";
@import "clock.scss";
@import "control_center.scss"



