@import '../colors.css';

* {
    color: @theme_selected_bg_color;
    border: none;
    border-radius: 0px;
    padding: 0 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

window#waybar {
    background: alpha(@theme_bg_color, 0.3);
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-left, .modules-center, .modules-right {
    background-color: alpha(@theme_bg_color, 0.5);
    border-radius: 15px;
    padding: 0px;
    margin: 5px 0;
}

#workspaces,
#window,
#language,
#clock,
#custom-weather,
#custom-waybar-mpris,
#custom-vnc,
#battery,
#cpu,
#memory,
#idle_inhibitor,
#temperature,
#backlight,
#network,
#pulseaudio,
#mode,
#tray,
#custom-launcher,
#sway-scratchpad,
#custom-power {
    padding: 3px 8px;
    border-radius: 12px;
    margin: 2px;
}

#workspaces button {
    color: @theme_selected_bg_color;
    min-width: 5px;
    padding: 0 10px;
    transition: all 0.3s ease-in-out;
}

#workspaces button.focused {
    background-color: alpha(@theme_selected_bg_color, 0.3);
    color: @theme_selected_bg_color;
    border-radius: 12px;
}

#workspaces button:hover {
   background: alpha(@theme_selected_bg_color, 0.5);
   border-radius: 12px;
}

#workspaces button.urgent {
    background: @aur1;
    color: @font;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 4px;
}

#language,
#clock,
#custom-weather,
#custom-waybar-mpris,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio {
    background-color: transparent;
}


@keyframes blink {
    to {
        color: @font;
        background-color: @theme_bg_color;
    }
}

#battery.critical:not(.charging) {
    background: @aur1;
    color: @font;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
}

#battery.charging {
    background: green;
    color: white;
}

#tray {
    padding: 0 10px;
}

#pulseaudio.muted {
    color: @aur1;
}

#temperature.critical {
    color: @aur1;
}

#network.disabled {
    color: @aur1;
}

#mode {
    color: @font;
}

#custom-launcher, #scratchpad, #tray, #custom-power {
    background-color: transparent;
    font-size: 16px;
    color: @theme_selected_bg_color;
}

tooltip {
    background: @theme_bg_color;
    border: 1px solid rgba(100, 114, 125, 0.8);
    border-radius: 10px;
}

tooltip label {
    margin: 10px;
    color: @theme_selected_bg_color;
}